- page_title "Members"

.group-members-page.prepend-top-default
  - if can?(current_user, :admin_group_member, @group)
    .panel.panel-default
      .panel-heading
        Add new user to group
      .panel-body
        %p.light
          Members of group have access to all group projects.
        .new-group-member-holder
          = render "new_group_member"

    = render 'shared/members/requests', membership_source: @group, requesters: @requesters

  = render 'ldap_sync'

  .panel.panel-default
    .panel-heading
      %strong #{@group.name}
      group members
      %span.badge= @members.total_count
      .controls
        = form_tag group_group_members_path(@group), method: :get, class: 'form-inline member-search-form'  do
          .form-group
            = search_field_tag :search, params[:search], { placeholder: 'Find existing member by name', class: 'form-control', spellcheck: false }
          = button_tag class: 'btn', title: 'Search' do
            = icon("search")
    %ul.content-list
      = render partial: 'shared/members/member', collection: @members, as: :member
    = paginate @members, theme: 'gitlab'

:javascript
  $('form.member-search-form').on('submit', function(event) {
    event.preventDefault();
    Turbolinks.visit(this.action + '?' + $(this).serialize());
  });
